@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.woff2") format("woff2"),
  url("../fonts/Pacifico-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
  url("../fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Consolas";
  font-weight: bold;
  src: url("../fonts/consola.woff2") format("woff2"),
  url("../fonts/consola.woff") format("woff");
}

@font-face {
  font-family: "Segoe Script";
  src: url("../fonts/Segoe-Script.woff2") format("woff2"),
  url("../fonts/Segoe-Script.woff") format("woff");
}

@font-face {
  font-family: "Segoe Print";
  src: url("../fonts/Segoe-Print.woff2") format("woff2"),
  url("../fonts/Segoe-Print.woff") format("woff");
}

@font-face {
  font-family: "Morning Breeze";
  src: url("../fonts/MorningBreeze.woff2") format("woff2"),
  url("../fonts/MorningBreeze.woff") format("woff");
}