@font-face {
  font-family: "Segoe Script";
  src: url("../fonts/Segoe-Script.woff2") format("woff2"),
  url("../fonts/Segoe-Script.woff") format("woff");
}

@font-face {
  font-family: "Segoe Print";
  src: url("../fonts/Segoe-Print.woff2") format("woff2"),
  url("../fonts/Segoe-Print.woff") format("woff");
}

@font-face {
  font-family: "Morning Breeze";
  src: url("../fonts/MorningBreeze.woff2") format("woff2"),
  url("../fonts/MorningBreeze.woff") format("woff");
}